@charset "utf-8";
#siteCenter {
	background: white;
	padding: 5px;
	overflow: hidden !important;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 1000px;
	text-align: center;
	margin-top: 100px;
}
div {
	display: block;
}
.header ul {
	list-style: none;
}
.header li {
	display: inline;
	padding: 15px;
	font-size: 150%;
	font-weight: bold;
}
.header {
	padding-bottom: 200px;
}
#content {
	float: right;
	position: relative;
	width: 800px;
	padding-left: 50px;
	padding-top: 20px;
}
body{
	background: blue;
}
.artistList ul{
	padding-top: 20px;
	padding-right: 50px;
	list-style: none;
	float: left;
	position: absolute;
}

