@charset "utf-8";
#siteCenter {
overflow: hidden;
margin-left: auto;
margin-right: auto;
position: relative;
width: 1200px;
text-align: center;
margin-top: 20px;
font-family: arial;
}
div {
display: block;
}
#colourHeader{
height: 500px;
width: 100%;
position: absolute;
background: #8CD8D2;
margin-top: 115px;
height: 250px;
}
.header img{
margin-right: 15px;
}
.header ul {
margin-top: 0px;
list-style: none;
background: #2F2F2F;
padding-top: 50px;
border-radius: 15px;
}
.header li a:hover{
color: #8CD8D2;
background: #2F2F2F;
}
.header li {
display: inline;
padding: 15px;
font-size: 150%;
font-weight: bold;
}
.header li a {
color: white;
text-decoration: none;
}
.header {
margin-bottom: 175px;
}
.member ul{
float: right;
position: relative !important;
color: #ffffff;
display: inline;
padding: 0px;
}
.member li{
display: inline;
padding: 0 px !important;
}
#button1 li {
    float: right;
    margin: 5px;
    padding: 0;
    list-style: none;
    top: 0;
}
#button li a {
    height: 17px;
    display: block;
}
#up {
    left: 0px;
    width: 103px;
	background: url("signUpRoll.gif") no-repeat 0 0px;
}
#up a:hover{
    background: url("signUpRoll.gif") no-repeat 0 -17px;
}
#in {
    left: 0px;
    width: 103px;
	background: url("signInRoll.gif") no-repeat 0 0px;
}
#in a:hover{
    background: url("signInRoll.gif") no-repeat 0 -17px;
}
.center {
float: left;
margin-left: 200px;
font-weight: bolder;
font-size: 200%;
width: 100%;
text-decoration: none;
color: black;
}
.currentHeaderSection{
display: inline;
padding: 15px;
font-size: 150%;
font-weight: bold;
background-color: #8CD8D2;
color: black;
border-radius: 15px
}
#contentLeft {
float: left;
position: relative;
width: 880px;
margin-right: 10px;
paddign-bottom: 100px;
text-align: left;
border-radius: 15px;
}
#contentRight {
padding-top: 20px;
width: 300px;
background-color: #5C5C5C;
border-radius: 15px;
padding-bottom: 20px;
margin-left: 10px;
padding-left: 5 px;
float: left;
font-weight: bold;
}
#contentRight h2{
padding-left: 10px;
}
#contentRight ul{
padding-left: 10px;
}
#artistList li {
padding: 5px;
}
.artist {
float: left;
padding-top: 20px;
padding-right: 10px;
paddign-bottom: 100px;
text-align: left;
border-radius: 15px;
padding-left: 10px;
background: #5C5C5C;
}
#artistList ul {
list-style: none;
text-align: left;
background: #cecece;
}
#artistList a {
color: black;
text-decoration: none;
}
#artistList li:hover{
background: #A8C1C5;
}
.featureArtist {
background-color: white;
padding: 10px;
margin-bottom: 30px;
border-radius: 20px;
}
h2{
text-align: left;
color: white;
font-size: 220%;
font-weight: bolder;
}
#content {
float: left;
padding-top: 20px;
padding-right: 10px;
paddign-bottom: 100px;
text-align: left;
border-radius: 15px;
padding-left: 10px;
background: #5C5C5C;
}
.event{
background-color: white;
padding: 20px;
margin-bottom: 20px;
border-radius: 20px;
}
.borderLine{
width: 1000px;
margin-left: 100px;
border-top: #5C5C5C 4px solid;
margin-top: 20px;
}
.information img {
float: left;
margin: 10px;

}
.information{
padding: 10px;
    clear: left;
    height: auto;
    overflow:hidden;
}
.artistShow {
float: left;
margin-left: 65px;
width: 200px;
height: 250px;
text-align: center;
font-size: x-large;
font-weight: bolder;
font-style:oblique;
color: black;
}
.upcomingShows{
height: 300px;
width: 1000px;
margin-right: 60px;
margin-left: 60px;
}
#footer {
height: 200px;
margin-top: -20px;
background: #cecece;
}
.footerContent {
overflow: hidden;
margin-left: auto;
margin-right: auto;
position: relative;
width: 1200px;
padding-top: 30px;
}
.footerContent p {
    float: left;
}
.sponsorImg {
float: right;
}
.sponsorImg img {
margin-right: 40px; 
}
.signUp {
    margin-left: 400px;
    text-align: center;
    font-size: 400%;
    font-weight: 900;
    color: white;
    text-decoration: none;
    background: #fd8d15;
    padding-left: 5px;
    padding-right: 5px;
    border-width: 5px;
    border: solid;
    border-color: #fd8d15;
    border-radius: 10px;   
}
.signUp:hover{
    background: white;
    color: #fd8d15;
    padding-left: 5px;
    padding-right: 5px;
    border-width: 5px;
    border: solid;
    border-color: #fd8d15;
    border-radius: 10px;
    text-decoration: none;
    font-size: 400%;
    font-weight: 900;
}

    
